/* div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
} */

.floorPlan {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
}

.bath {
  background-color: green;

}

.bedroom {
  background-color: blue;
}

.kitchen {
  background-color: yellow;
}

.livingRoom {
  background-color: beige;
}

.oven {
  background-color: red;
}

.sink {
  background-color: brown;
}
